<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="testController as myCtrl">
            <div ng-repeat="myItem in myItems" >
                {{myItem.testCaseId}} : {{myItem.testCaseName}}
            </div>
            <div>
                <button type="button" value="Click" ng-click="myCtrl.getAll()">ClickMe</button>
            </div>
    </div>
</body>
<script type="application/javascript" src="../../bower_components/angular/angular.js"></script>
<script type="application/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
<script type="application/javascript" src="../script/angular/model/testModel.js"></script>
<script type="application/javascript" src="../script/angular/app/app.js"></script>
<script type="application/javascript" src="../script/angular/app/appconfig.js"></script>
<script type="application/javascript" src="../script/angular/service/testService.js"></script>
<script type="application/javascript" src="../script/angular/scope/ItestScope.js"></script>
<script type="application/javascript" src="../script/angular/control/testControl.js"></script>
</html>